<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>683358855425-2sjobm09sgismfv8hlui1kfi2t5c20g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683358855425-2sjobm09sgismfv8hlui1kfi2t5c20g9</string>
	<key>API_KEY</key>
	<string>AIzaSyCiRy-8LEpV0NQFKL7ZKc6i32zBLKT5VEk</string>
	<key>GCM_SENDER_ID</key>
	<string>683358855425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soheilbm</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-319bf</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-319bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:683358855425:ios:9e85ed36ba53a347</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebase-319bf.firebaseio.com</string>
</dict>
</plist>